services:
    main:
        build:
            context: .
            dockerfile: ./Dockerfile
        volumes:
          - "./src:/app/src"
        ports:
          - "8000:8000"

    tests:
        build:
            context: .
            dockerfile: ./Dockerfile
        volumes:
          - "./src:/app/src"
        command: "pytest tests -v"